@import "variables";

.light--theme {
  background: $lightBG;

  .search-container {
    background: $whiteBackground;
  }

  .main-container {
    background: $whiteBackground;
  }
  .theme__dark {
    @include display-flex-center;
    cursor: pointer;
    &:hover {
      .theme__dark__icon path {
        fill: $lightBlack;
      }
      .theme__dark__text {
        color: $lightBlack;
      }
    }
    .theme__dark__icon {
      margin-left: 20px;
      path {
        fill: $grayBlue;
      }
    }
    .theme__dark__text {
      color: $grayBlue;
    }
  }

  .theme__light {
    @include display-flex-center;
    display: none;
  }

  .repo_info_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background: $lightBG;
    border-radius: 15px;
    h4 {
      color: $blueGray;
    }
    h1 {
      color: $lightBlack;
    }
    .following {
      width: 25%;
    }
  }

  .username_description {
    color: $blueGray;
  }

  .search-container {
    box-shadow: 0 3px 10px 3px #c4c9e470;
  }

  .main-container {
    box-shadow: 0 3px 10px 3px #c4c9e470;
  }
  .twitter-placeholder,
  .location-placeholder,
  .git-placeholder,
  .company-placeholder {
    color: $blueGray;
  }
  .not-available {
    color: #a8b5cc;
  }
}
