* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(225, 100%, 94%);
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  font-size: 11px;
  text-align: center;
  left: 50%;
  top: 99%;
  transform: translate(-50%, -50%);
}
.footer a {
  color: hsl(228, 45%, 44%);
}

.main-container {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 375px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-container h1 {
  font-weight: 700;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.description {
  color: hsl(224, 23%, 55%);
  font-size: 0.8rem;
  text-align: center;
  width: 70%;
  padding-top: 1rem;
}

.plan-container {
  background: hsl(225, 100%, 98%);
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.anual-plan {
  width: 40%;
}

.anual-plan h3 {
  font-size: 0.9rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.price {
  color: hsl(224, 23%, 55%);
  font-size: 0.8rem;
  padding-bottom: 5px;
}

.change {
  font-size: 0.8rem;
  color: hsl(245, 75%, 52%);
  font-weight: bold;
  cursor: pointer;
}

.change:hover {
  color: hsl(245, 79%, 65%);
}

button {
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background: hsl(245, 75%, 52%);
  box-shadow: 0px 10px 10px 2px hsl(244, 76%, 92%);
  margin-bottom: 1.5rem;
  cursor: pointer;
}

button p {
  pointer-events: none;
}

button:hover {
  background: hsl(245, 79%, 65%);
}

.cancel {
  color: hsl(224, 23%, 55%);
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
}
